/* Global (Desktop) View */
body {
    font-family: 'Inter', sans-serif;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    background-color: rgb(39, 176, 181);
    width: 30%;
    margin-bottom: 40px;
}

.col p {
    font-size: .875rem;
    color:white;
    padding: 20px 20px; 
    line-height: 1.25rem;
    text-align: left
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}



/* Tablet View */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }

}




/* Mobile View */
@media (max-width: 500px) {
    .col {
        width: 100%;
    }

}